@import url('https://fonts.googleapis.com/css?family=Barrio|Comfortaa|Josefin+Sans');

body {
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Comfortaa', cursive;
    font-size: 150%;
}

h1 {
    font-family: 'Barrio', cursive;
}

input {
    width: 12em;
}

.image-button {
    text-align: center;
    padding-bottom: 1em;
}
