@import url('https://fonts.googleapis.com/css?family=Barrio|Comfortaa|Josefin+Sans');

body {
    /*font-family: 'Josefin Sans', sans-serif;*/
    font-family: 'Comfortaa', cursive;
    font-size: 150%;
}

h1 {
    font-family: 'Barrio', cursive;
}

input {
    width: 12em;
}

.image-button {
    text-align: center;
    padding-bottom: 1em;
}

.code-container {
    position: absolute;
    left: 0px;
    top: 1.2em;
//    font-family: 'deja'; important;
    font-size: 100%;
    border: 0;
    color: #000;
    background-color: transparent;
    z-index: 999;
    width: 100%;
}

#webgl-canvas {
}

#canvas2 {
    position: absolute;
    left: 0px;
    top: 0px;
}

input {
    width: 3em;
}